body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  color: black;
  padding: 10px;
  text-align: left;
  display: flex;
  align-items: center;
}

#logo {
  width: 50px; /* Adjust the width as needed */
  height: auto;
  margin: 40px;
  margin-top: 20px;
}

#brand {
  font-size: 1.5em;
  margin: 10px;
}

nav {
  margin-left: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

}

nav li {
  margin-right: 100px;
  margin-bottom: 30px;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: black
}

.button{
    background-color: black;
    border-radius: 20px;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 20px;
    margin: 5px;
    margin-left: 0px;
}

.big{
  font-family: 'Times New Roman', Times, serif;
  margin: 10px;
  font-size: 5em;
}

.small{
  font-size: small;
  margin: 20px;
  margin-top: -80px;
  font-weight: lighter;
}

#brand{
  margin-right: 200px;
  margin-left: -48px;
}

.container {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  margin: 5px; /* Margin around the columns */
}

.column {
  flex: 1;
  text-align: center;
  padding: 10px; /* Padding inside each column */
}

.divider {
  border-right: 2px solid #ccc; /* Straight line dividing the columns */
  height: 100%;
}

.logo {
  width: 100px; /* Adjust the width of the logo as needed */
  height: auto;
  margin-bottom: 10px; /* Space between logo and text */
}

.text{
  display: flex;
  margin: 15px;
  margin-top: 2px;
}

.container{
  display: flex;
  flex:1;
}

.column{
  margin-top: 20px;
  flex: 1;
}

.gather{
  margin-top: 2opx;
}

  .last{
    height: 10px;
  }